@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --measure: 60ch;
}

* {
  font-size: 1.5rem;
  color: #44aeaf;
  max-width: var(--measure);
  font-family: 'Raleway', sans-serif;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

body {
  box-sizing: border-box;
  background: #333;
  margin: 0;
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.stack:only-child {
  height: 100%;
}

.stack > :nth-child(5) {
  margin-bottom: auto;
}

.logo {
  animation-delay: 1s;
  animation: logo ease-in 3s forwards;
}

@keyframes logo {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0.5;
  }
  100% {
    fill-opacity: 1;
  }
}
